@import 'variables';

.un_InputHk2t{
    input{
        background: #fff;
        border-radius: 4px;
        padding: 10.5px 14px;
    }

    p{
        color: $color-error-msg-input !important;
        font-size: 1rem;
        margin-left: 0;
    }

    .Mui-error fieldset{
        border-color: $color-error-msg-input !important;
    }
} 